
html, body, #map {
    padding: 0;
    margin: 0;
    height: 97%;
    width: 100%;
}

#menu {
    padding: 0;
    margin: 0;
    height: 3%;
    width: 100%;
}

#content {
    padding: 0;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.listaPuntos{
    display: block;
    position: absolute;
		min-width: 100%;
    z-index: 2;
    top: 30px;
    right: 6%;
}

.clickable .glyphicon {
	background: rgba(0, 0, 0, 0.15);
	display: inline-block;
	padding: 6px 12px;
	border-radius: 4px
}


.panel-heading span {
	margin-top: -23px;
	font-size: 15px;
	margin-right: -9px;
}

.clickable .glyphicon-radio {
	background: #fff;
	display: inline-block;
	padding: 6px 12px;
	border-radius: 4px
}

a.clickable {
	color: inherit;
}

a.clickable:hover {
	text-decoration: none;
}

.list-items {
	margin-left: 2%;
}